:root {
  --imagen: #000;
  --offset: 32px;
}

* {
  margin: 0;
  padding: 0;
  font-family: roboto, sans-serif;
  color: white;
}

body {
  background: var(--imagen);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  /*background: #000;*/
  width: calc(100vw - var(--offset));
  height: calc(100vh - var(--offset));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 128px;
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}

.date {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 4px;
  flex-direction: column;
}

#date-placeholder,
#time-placeholder {
  width: 95%;
  text-align: center;
}

#time-placeholder {
  font-size: 40px;
  font-weight: 900;
}

#temp {
  font-size: 20px;
  font-weight: 900;
}

.titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#title {
  font-size: 26px;
}

#subtitle {
  font-size: 15px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

#shortcuts {
  width: 100%;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shortcut-item {
  width: 48px;
  aspect-ratio: 1;
}

img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 12px;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.glass-bg {
  background: rgba(10, 25, 47, 0.1);
  border-radius: 12px;
  color: white;
  display: inline-block;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

#lang-button {
  width: 48px;
  aspect-ratio: 1;
}

#text-field {
  width: calc(100% - 96px);
  height: 44px;
  font-size: 16px;
  text-align: center;
}

#text-field::placeholder {
    color: white;
    text-align: center;
}
